body {
    background-color: brown;
}

h1 {
    margin: 4px;
}

.container {
    max-width: 60%;
    margin: auto;
    text-align: center;
}

.parts {
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    padding: 2%;
    background-color: rgb(235, 250, 244);
}



.table {
    border: 2px solid;
    margin:10px ;
}

.bord {
    border: 1px solid;
    padding: 1px;
}

.float {
    text-align: center;
    margin: auto;
    margin-top: 3px;
}

.form {
    margin: auto;
    text-align: center;
}

.submit {
    text-align:left;
    background-color: rgb(4, 219, 148);
}
div{
    text-align: center;
    text-indent: 1%;
}
